<!-- Cart with products -->
<div class="container" *ngIf="allCart.length!==0">
    <div class="row mt-5">
        <div class="col">
            <!-- Table -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cart of allCart">
                        <td>{{cart.id}}</td>
                        <td>{{cart.title}}</td>
                        <td>
                            <img [src]="cart.image" width="100px">
                        </td>

                        <td>
                            <div class="d-flex">
                                <button (click)="incrementCartProduct(cart.id)" class="btn">+</button>
                                <input type="text" class="form-control" readonly [value]="cart.quantity">
                                <button (click)="decrementCartProduct(cart.id)" class="btn">-</button>


                            </div>
                        </td>

                        <td>{{cart.price}}</td>
                        <td>
                            <button (click)="deleteCartProduct(cart.id)" class="btn">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col border p-5 shadow ms-2">
            <!-- Summary -->
            <h2>Product Bill</h2>
            <h3>Price:{{cartTotalPrice}}</h3>
            <h3>Discount:20%</h3>
            <h1>Grand Total:{{cartTotalPrice}}</h1>
            <div class="text-center">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Check
                    Out</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Check Out Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form *ngIf="!proceedToPaymentStatus" [formGroup]="addressForm" (ngSubmit)="submitForm()">
                                <h3 class="text-center m-3"> Enter Your Delivery Details</h3>
                                <!-- Name -->

                                <div class="form-floating mb-3">
                                    <input required name="name" formControlName="name" type="text" class="form-control"
                                        placeholder="Name">
                                    <label>Name</label>
                                </div>

                                <!-- House Number -->

                                <div class="form-floating mb-3">
                                    <input required name="houseNumber" formControlName="houseNumber" type="text"
                                        class="form-control" placeholder="House Number">
                                    <label>House Number</label>
                                </div>

                                <!-- Street Name -->

                                <div class="form-floating mb-3">
                                    <input required name=" streetName" formControlName="streetName" type="text"
                                        class="form-control" placeholder="Street Name">
                                    <label>Street Name</label>
                                </div>

                                <!-- State -->

                                <div class="form-floating mb-3">
                                    <input required name=" state" formControlName="state" type="text"
                                        class="form-control" placeholder="State">
                                    <label>State</label>
                                </div>

                                <!-- Pincode -->

                                <div class="form-floating mb-3">
                                    <input required name=" pincode" formControlName="pincode" type="number"
                                        class="form-control" placeholder="Pincode">
                                    <label>Pincode</label>
                                </div>

                                <!--Mobile Number -->

                                <div class="form-floating mb-3">
                                    <input required name="MobileNumber" formControlName="MobileNumber" type="number"
                                        class="form-control" placeholder="Mobile Number">
                                    <label>Mobile Number</label>
                                </div>
                                
                                <div>
                                    <h2>Total Price: {{cartTotalPrice}}</h2>
                                </div>
                                
                            <!-- Offers -->
                            <div *ngIf="!discountStatus">
                                <button  (click)="offerClicked()"> Offers <i class="fa-solid fa-tag fa-beat text-danger"></i> </button>
                                </div>

                                <!-- Discount -->
                                <div *ngIf="offerClick && !discountStatus">
                                    <!-- 10%off -->
                                    <img width="100px" (click)="discountCalculate(10)" *ngIf="cartTotalPrice<=100" src="https://www.pngmart.com/files/21/10-Off-PNG.png" alt="">
                                     <!-- 30%off -->
                                     <img width="100px" (click)="discountCalculate(30)" *ngIf="cartTotalPrice>100 && cartTotalPrice<=500" height="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu11G3ltYGOEA00Csgf2wO42UFcjdO2DVCVA&usqp=CAU" alt="">
                                      <!-- 50%off -->
                                    <img width="100px" (click)="discountCalculate(50)" *ngIf="cartTotalPrice>500 && cartTotalPrice<=1000" src="https://t4.ftcdn.net/jpg/00/63/83/29/360_F_63832907_SA64nRfoIU8qaPKDkcYT7Ax2T0eVFJDY.jpg" alt="">
                                </div>


                                <!-- Make Payment -->

                                <div class="text-center m-3">
                                    <button class="btn btn-success">Make Payment</button>
                                </div>


                            </form>


                            <!-- Payment Summary form after we click make payment -->

                            <div *ngIf="proceedToPaymentStatus">
                                <h6>Your Delivery Address Details</h6>

                                <p>{{name}}</p>
                                <p>{{houseNumber}}</p>
                                <p>{{streetName}}</p>
                                <p>{{state}}</p>
                                <p>{{pincode}}</p>
                                <p>{{MobileNumber}}</p>

                                <div class="text-center m-3" *ngIf="!showpaypalButton">
                                    <button (click)="Makepay()" class="btn btn-success">Proceed to Payment</button>
                                </div>
                                <div *ngIf="showpaypalButton">
                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- empty cart -->
<div *ngIf="allCart.length==0" class="container text-center p-5">
    <h1>Your cart is empty!!!!</h1>
    <img src="https://cdn.dribbble.com/users/2046015/screenshots/4591856/first_white_girl_drbl.gif" alt="">
    <div>
        <button class="btn btn-dark">Shop More</button>
    </div>
</div>